/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* utils */

.container {
    margin: auto;
    margin-top: 5px;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
}

.green{
    color: green;
}

/* header */
header{
    background-color: white;
}

.logo-container{
    padding: 15px 30px;
    line-height: 60px; /* per centrare il testo con l'immagine */
}

h1{
    display: inline;
    font-size: 2.5rem;
    font-weight: 500;
    vertical-align: middle; /* per centrare il testo con l'immagine */
}

.logo-immagine{
    width: 60px;
    vertical-align: middle; /* per centrare il testo con l'immagine */
}

/* main */
body{
    background-color: cadetblue;
}

section{
    background-color: white;
    border-radius: 5px;
    padding: 10px 30px;
}

/* SEZIONI PULSANTI */
.nav-tab{
    margin-top: 50px;
}

button{
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
}

#button-task{
    background-color: #41a9ec;
    color:white;
    border: 1px solid transparent;
}

#button-section{
    background-color: white;
    border: 1px solid lightgray;
    color: lightgray;
}

/* SEZIONE TASK */