/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/* utils */

.container {
    margin: auto;
    margin-top: 5px;
    max-width: 100%;
    width: 800px;
}

.green{
    color: green;
}

.red{
    color: red;
}

/* header */
header{
    background-color: white;
}

.logo-container{
    padding: 15px 30px;
    line-height: 60px; /* per centrare il testo con l'immagine */
}

h1{
    display: inline;
    font-size: 2.5rem;
    font-weight: 500;
    vertical-align: middle; /* per centrare il testo con l'immagine */
}

.logo-immagine{
    width: 60px;
    vertical-align: middle; /* per centrare il testo con l'immagine */
}

/* main */
body{
    background-color: #f6f7f9;
}

.white-background{
    background-color: white;
    border-radius: 5px;
    padding: 10px 30px;
}

/* SEZIONI PULSANTI */
.nav-tab{
    margin-top: 50px;
}

button{
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.button-task{
    background-color: #41a9ec;
    color:white;
    border: 1px solid transparent;
}

.button-section{
    background-color: white;
    border: 1px solid lightgray;
    color: lightgray;
}

/* SEZIONE TASK */
.etichetta{
    border-radius: 30px;
    color: white;
    padding: 5px 10px;
    display: inline;
    font-size: .68rem;
}

section>h2{
    padding-bottom: 10px;
}

section>p{
    display: inline-block;
    padding-bottom: 20px;
}

.lightblu{
    background-color: #41a9ec;
}

.lightviolet{
    background-color: #9d78e2;
}

.lightgreen{
    background-color: #64c2a4;
}

.lightorange{
    background-color: #f09f38;
}

.lightpink{
    background-color: #ce6997;
}

.lightgreen{
    background-color: #b1ca2b;
}
